SITE_URL=

RESEND_API_KEY=
RESEND_FROM=
RESEND_TO=
RESEND_REPLY_ENABLED=true

PUBLIC_SANITY_PROJECT_ID=
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2025-01-01
PUBLIC_SANITY_USE_CDN=true
SANITY_API_TOKEN=

SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production

R2_PUBLIC_URL=
R2_PREFIX=images
PUBLIC_MEDIA_WEBP=true

CLOUDFLARE_DEPLOY_HOOK_URL=
SANITY_WEBHOOK_TOKEN=
